.webcontentform{
    width: 800px;
    margin: 0 auto;
    .MuiMenuItem-root{
        font-size: 14px !important;
    }
    label.label_faq{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
        color: #757575;
    }
    .faqs{
       
        button.addfaqbtn{
            width: 120px;
            border: none;
            background-color: #31B655;
            border-radius: 5px;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            line-height: 2;
        
         }
        .faqinputbox{
            margin-bottom: 30px;
            position: relative;
        
            input{
                font-size: 16px;
                padding: 5px; 
                width: 100%;
                border-radius: 4px;
                border: 1px solid #c4c4c4;
                &:focus-visible{
                    outline-color: #31B655;
                    border-color: #31B655;
                }
            }
            textarea{
                font-size: 16px;
                font-weight: 400;
                line-height: 1.4;
                resize: none;
                min-height: 100px;
                margin-top: 5px;
                padding: 5px;
            }
            .removefaqbtn{
                position: absolute;
                right: -5%;
                bottom: 0;
                color: red;
                cursor: pointer;
                font-size: 18px;
            }
        }
    }
}


.MuiPopper-root:{
    display: none !important;
}