.sidebarDropdown {
    list-style: none;
    text-decoration: none;
    color: #6B6B6B;
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 5px 10px;
    transition: all .4s ease;
    border-radius: 4px;
    margin-bottom: 10px;
    position: relative;
    transition: all .3s ease;
}
.dropright::after{
    width: 15px;
    height: 15px;
    content: '';
    background: url('../../../public/image/iconsforward.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 40%;
    transform: translate(-40%) rotate(90deg);
    transition: all .3s ease;
    z-index: 10;
}
.sidebar .dropdownarroe::after{
    width: 15px;
    height: 15px;
    content: '';
    background: url('../../../public/image/iconsforward.png');
    background-position: center;
    background-repeat: no-repeat;
    transition: all .3s ease;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 40%;
    transform: translate(-40%) ;
    z-index: 10;
}
.active  .active_bar .sidebar_text{
    color: #31B665 !important;
}
.active:hover  .active_bar .sidebar_text{
   color: #000 !important;
}
.sidebar_text{
    font-size: 16px;
}
.rdrDefinedRangesWrapper {
  display: none;
}
.sidebar ul{
    padding: 0;
    background-color: #ffffff;
    min-height: calc(100vh - 150px);
    margin: -5px;
  }

  .sidebar ul a{
    text-decoration: none;
    color: #6B6B6B;
    transition: all .4s ease;
  }
  .sidebar ul a li{
    list-style: none;
    text-decoration: none;
    color: #6B6B6B;
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 5px 10px;
    transition: all .4s ease;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .sidebar ul a li:hover{
    background-color: rgba(0, 0, 0, 0.1);
  }
  .sidebarbtn{
    display: none;
  }
  .submanusidebar {
    margin-left: 28%;
  }
  .sidebar ul li span.sidebar_text{
    display: none;
  }
  .sidebar ul li span.sidebar_text{
    display: inline;
  }
  .mainfilter{
    position: relative;
  }
  .mainfilterbtn{
    width: 120px;
    height: 37px;
    font-size: 16px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
  .mainfilterdropdown{
    position: absolute;
    width: 200px;
    top: 120%;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  .mainfilterdropdown ul{
    padding: 0;
  }
  .mainfilterdropdown ul li{
    display: block;
    font-size: 16px;
    padding: 5px 0;
  }
  .calenderdropdown{
    position: absolute;
    top: 120%;
    right: 110%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 4px;
    overflow: hidden;
  }