* {
  margin: 0;
  padding: 0;
  /* font-family: Sans; */

}

.required {
  color: red;
}

.color {
  color: #31B665;
}

navbar *,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 14px;
}

li {
  display: contents;
  list-style: none;
}

ul li path {
  color: #31B665;
}

/* login  */

.label {
  margin-inline: 20px;
  display: inline-block;
}

/* @media(max-width:600px){
  .priceLabel1{
    justify-content:start ;
  }
} */
.otp {
  width: -webkit-fill-available;
}

.Login_font {
  font-size: 30px;
}

.login_border {

  border-radius: 40px;
  margin-top: 110px;
}

.louout {
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.otpbtn {
  font-size: 13px;
  color: #31B665;
  border: 2px solid;
}

#sidebarMenu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#sidebarMenu::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

#sidebarMenu::-webkit-scrollbar-thumb {
  background-color: #31B665;
}

.eye {
  position: relative;
  top: 13px;
  font-size: larger;
  cursor: pointer;
}

#Submit_but {
  border: 0px;
  width: 100px;
}

.spinner-border-sm {
  width: 20px;
  --bs-spinner-width: 1rem;
  --bs-spinner-height: 1rem;
  --bs-spinner-border-width: 0.2em;
  height: 20px;
}

.password {
  margin-inline: 11px;
}

/* .login_border{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, -0.3);
} */
/* .form{
  display: inline-grid;
    gap: 20px;
} */


.display {
  display: flex;
}

.btn-success {
  font-size: 15px;
  --bs-btn-bg: #31B665;
}

.check {
  gap: 10px;
  justify-content: center;
  display: flex;
  margin-top: 10px;
}

.logout {
  position: relative;
  text-decoration: none;
  color: white;
  right: 20px;
}

/*  */


@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  background-color: #FAFAFA;
  position: fixed;
  top: 26px;
  bottom: 0;
  overflow: auto;
  padding: 58px 0 0;
  /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 16%;
  z-index: 600;
}

.list-group-item {
  background-color: #FAFAFA;
}

.list-group {

  --bs-list-group-border-color: white;
  --bs-list-group-action-hover-color: #272626;
  --bs-list-group-action-hover-bg: white;

}

.link_Name:hover {
  color: #31B665;
}

.side_penal_link {
  font-size: 20px;

  width: 50%;
  border-radius: 10px;
}

.DashBorad_logo {
  position: relative;
  top: -2px;
  font-size: 20px;
}

.side_bar_option {
  gap: 20px;
  display: flex;
  font-size: initial;
}


@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.UserImage {
  border-radius: 20px;
  width: 40px;
  height: 39px;
  top: 10px;
  position: relative;
}

.colorotp {
  color: red;
  font-size: 14px;
}

.brand {
  background-color: #31B665;
}

.border {

  border-inline: 2px solid;
}

.center {

  position: relative;
  text-align: center;
}

.search {
  position: relative;
  top: 2px;
  /* width: ; */
}

.Side_Bar {
  position: relative;
  top: 20px;
}

.search_left {
  position: relative;
  display: flex;
  top: 5px;

}

.user_name {
  font-size: 14px;
  color: white;
}

.user_name_my {
  /* font-size: 20px; */
  color: white;
}

.Brand_logo {
  top: 20px;
}

.con {
  gap: 10px;
  justify-content: center;
  display: flex;
}

.messagebox {
  font-size: 35px;
  color: white;
}

.messagebox circle {
  color: red;
}

/* Sidebar DropDown */


.drop_down {
  justify-content: center;
  align-items: center;
  /* background-color: #2980B9; */
  width: 200px;
  margin-left: 40px;
}

.dropdown {
  /* left: 250px; */
  position: absolute;
  right: 28px;


}

.drop_down li {
  display: block;
}

.Togglebar_Arrow {
  cursor: pointer;
  transform: rotate(90deg);
}

/* .Arrow{
  position: relative;
left: 40px;
} */

.line {
  /* height: 65%; */
  gap: 15px;
  top: 20px;
  position: relative;
  list-style: none;
  border-left: 0.3rem solid #C7C7C7;
  margin-left: 0.5rem;
  padding-left: 1.5rem;
  display: grid;
}

.line li {
  font-size: 1.2rem;
  /* margin: 1.5rem ; */
  padding-left: 1.5rem;
  position: relative;
  top: -6px
}

.line li::before {
  content: "";
  display: grid;
  width: 2rem;
  height: 0.1rem;
  background-color: #C7C7C7;
  position: absolute;
  left: -1.5rem;
  top: .6rem;
}

.box {
  /* width: 190px; */
  /* height: 200px  ; */
  background-color: #FAFAFA;
}

.line li {
  color: #95989A;
  /* display: flex; */
  font-size: 15px;
  top: -6px;
  justify-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}


.pluse {
  margin: 20PX;
  font-size: 20px;

}


.Category_box .drop_down {
  width: 200px;


}

.Category_box {
  background-color: #FAFAFA;

}

/* End */


#sidebarMenu {
  overflow: auto;
  width: 17%;
}

.mt-4 {

  margin-top: 1.5rem !important;
}

.margin {
  color: #7C7C7C;
  margin-bottom: 20px;
}

.background {
  background-color: #FAFAFA;
}

/* search bar */

#input-label {
  display: none;
}

.input-wrap {

  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem 0 1.5rem;
  border-radius: 1.8rem;
  background: white;
  box-sizing: border-box;
}

.input-wrap i {
  font-size: 1.5rem;
  color: #31b665;
}


#product-search {
  border-radius: 1.8rem;
  font-size: 15px;
  color: #31b665;
  ;
  width: 100%;
  height: 100%;
  padding: 0 0 0 1rem;
  background: white;
  border: none;
  outline: none;
}

#product-search::placeholder {
  color: #31b665;
  ;
  opacity: 0.7;
}

.fa-times:hover {
  cursor: pointer;
}

.results-wrap {
  width: 100%;
  /* min-height: 11rem; */
  max-height: auto;
  /* margin-top: 1rem; */
  /* padding: 1rem; */
  box-sizing: border-box;
}

.list-item {
  display: inline-flex;
  word-wrap: initial;
  list-style-type: none;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: capitalize;
  margin-right: 0.5rem;
}

.list-item a {
  color: grey;
  text-decoration: none;
}

.list-item a:hover {
  color: tomato;
  transition: 200ms ease-in;
}

@media (max-width: 768px) {

  .results-wrap {
    width: 96%;
  }
}



/* StatusBarCard */

.backg {
  height: 107px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, -0.3);
}

.cardn_number {
  margin-top: 15pxf;
}

.TotalProduct {
  background-image: linear-gradient(to right, #00AFA5, #a6f8f4);

  --bs-progress-height: 3px;
}

.TotalCategory {
  background-image: linear-gradient(to right, #FE5722, #e2c5bc);

  --bs-progress-height: 3px;
}

.TotalsubCategory {
  background-image: linear-gradient(to right, #794DF6, #d5cdee);

  --bs-progress-height: 3px;
}

.Totalbrand {
  background-image: linear-gradient(to right, #BC01CD, #f1b5f7);

  --bs-progress-height: 3px;
}

.Totalstore {
  background-image: linear-gradient(to right, #f6f212, #f0efc3);

  --bs-progress-height: 3px;
}

.TotalNews {
  background-image: linear-gradient(to right, #5DD531, #cde7c3);

  --bs-progress-height: 3px;
}

.width {
  width: 90%;

  align-items: center;
  justify-content: center;
}

.top {
  position: relative;
  margin-top: 20px;
}

.card_persent_font {
  font-size: 12px;
  font-weight: bold;
}

.Today_card_status {
  font-size: 9px;
}

.card_hadding {
  font-weight: 700;
}

/* right panel */
.standard {
  color: #7C7C7C;

}

.btn_color {
  width: 150px;
  color: white;
  background-color: #31B665;
  height: 30px;
}

.Store {
  display: flex;
  align-items: baseline;
}

.up {
  text-align: end;
  font-size: xx-large;
}

.topcen {
  align-self: center;
  ;
}

.chartjs-tooltip {
  background: #31B665;
  border-radius: 0.25rem;
  color: #fff;
  opacity: 0;
  padding: 0.25rem 0.5rem;
  pointer-events: none;
  position: absolute;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  transition: all .15s ease;
  z-index: 1021;
}

.label-text {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  font-size: 1.5rem;
  padding-top: 1.5rem;
}

@media (max-width: 1000px) {
  .admin_col {
    flex: 0 0 auto;
    width: 100%;
  }
}

/* category */
.catagory_col {
  width: 20%;
}

.Add_Category {
  display: flex;

}

.Add_Category h2 {
  font-weight: 700;
  font-size: 27px;
}

@media (max-width: 570px) {
  .Add_Category h2 {
    font-size: 20px;
  }

  #product-search {
    font-size: 12px;
  }

  .input-wrap i {
    font-size: 12px;
  }
}

.margn_top {
  margin-top: 100px;
}

.cat_but {
  justify-content: right;
  display: flex;
}

.btn button {
  color: white;
  background-color: #404040;
}

.btn button:hover {
  background-color: #8d8989;
}


.label {
  display: flex;
  /* justify-content: flex-end; */
  color: #3C3C3C;
  align-items: center;
  /* margin: 0px; */

}

.sku_label {
  display: flex;
  justify-content: center;
  color: #3C3C3C;
  align-items: center;
}


@media (max-width: 500px) {
  .label {
    display: contents;
  }

  .display {
    display: flow-root;
  }
}

.editer {
  background-color: #ecebeb;
  /* height: 252px;
    width: 500px; */
}


.size {
  height: 30px;
  width: 70px;
  font-size: 15px;
}

.super-app-theme--header {
  font-style: calc(20px);
  font-size: 19px;
  font-weight: 900;
}

.hadding_al {
  display: flex;
  justify-content: space-around;
}

.popup_A {
  display: flex;
  justify-content: flex-end;
}

.hide {
  font-size: larger;
}

.Store {


  gap: 9px;
}

.Store label {
  color: #000000;
  font-size: 20px;
  font-weight: 700;

}

.Stack {
  display: flex;
  justify-content: center;
}

.gap {
  display: grid;
  gap: 18px;
}

.product_Col {
  display: flex;
}

.Add_Category_pop {
  display: flex;
}

.product_main_img {
  display: flex;
}

@media (max-width: 1114px) {
  .product_main_img {
    display: block;
  }
}

@media (max-width: 1114px) {
  .product_Col {
    display: block;
  }
}

.product_image_Col {
  display: flex;
}

@media (max-width: 1114px) {
  .product_image_Col {
    display: block;

  }

  .product_imagebox {
    height: 100px;
    width: 100px;
  }
}

@media(max-width:405px) {
  .background {
    width: 252px;
  }
}

@media(max-width:370px) {
  .background {
    width: 220px;
  }
}

@media (max-width: 570px) {
  .background {

    display: block;
  }

  .Add_Category_pop {
    display: block;
  }
}

@media (max-width: 570px) {
  .product_pop_main_col {

    flex-direction: column;
  }

}

@media (max-width: 1390px) {
  .product_pop_main_col {

    flex-direction: column;
  }

}

.prod_label {
  display: flex;
  /* justify-content: flex-end; */
  color: #3C3C3C;
  align-items: center;
}


.product_imagebox {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify {
  justify-content: space-around;
}

.image_logosize {
  font-size: 30px;
}

.image_logosize svg {
  position: relative;
  top: 20px;
  color: #E8E8E8;
}

.image_logosize1 svg {
  color: #E8E8E8;
  font-size: 30px;

}

.background {

  background-color: #FAFAFA;
}

.Sku {
  font-weight: 700;
}

.Weight_Type {
  display: contents;
}

@media(max-width:1122px) {
  .prod_weight_pop {
    flex-direction: column;
  }
}

@media(min-width:1206px) {
  .lab_res {
    display: flex;
    justify-content: flex-end;
  }
}




.Add_button {
  background-color: #31B665;
  width: 120px;
}

.form-check-input:checked {
  background-color: #31B665;
  border-color: white;
}

.active {
  background-color: #B0B0B0;
}

.btton {
  width: 90px;
  height: 50px;
  font-size: 20px;
  border: 1px solid #FFFFFF;
  border-color: #FFFFFF;
}

.btton:hover {
  background-color: #31B665;

  color: white;
  border-color: white;
}

@media(max-width:897px) {
  .first_strain_row {
    flex-direction: column;
    margin-left: 20px;
    margin-top: 4px;
    justify-content: space-around;
  }

  .sec_strain_row {
    flex-direction: column;
    margin-left: 20px;
    margin-top: 4px;
  }
}



.MultipulImage {
  position: relative;
  bottom: 38%;

}

.storeImage {
  bottom: 38%;
}








.switch {

  position: relative;
  display: inline-block;
  width: 90px;
  height: 40px;
}

.switch input {

  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  border-radius: 15px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .4s;
}

.slider:before {
  border-radius: 10px;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 7px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #31B665;
}

input:focus+.slider {
  box-shadow: 0 0 1px #31B665;
}

input:checked+.slider:before {
  -webkit-transform: translateX(90px);
  -ms-transform: translateX(90px);
  transform: translateX(55px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.checkbox_product {
  display: flex;
  justify-content: space-evenly;
}





/* news  */
.image_uploade {
  width: 190px;
  height: 150px;
  border: 1px solid #BEBEBE;
  border-radius: 20px;
}

.MdFileUpload {
  width: 76px;
  border-radius: 66px;

  font-size: 50px;
  color: white;
  justify-content: center;
  display: inline-table;
}






.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.show {
  display: block;
  overflow: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.textField {
  /* // marginLeft: theme.spacing.unit,
  // marginRight: theme.spacing.unit, */

  font-size: 50
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-input label {
  display: block;
  position: relative;

  border-radius: 25px;
  background: linear-gradient(40deg, #31B665, #7873f5);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
}

.file-name {
  display: none;
  position: absolute;
  bottom: -35px;
  left: 10px;
  font-size: 0.85rem;
  color: #555;
}

input:hover+label,
input:focus+label {
  transform: scale(1.02);
}

/* Adding an outline to the label on focus */
input:focus+label {

  outline: -webkit-focus-ring-color auto 2px;
}

/* .img_store {
  width: 40%;
    background: #EEEEEE;
    height: 150px;
    border: 2px dashed #9e9b9b;
    padding: 57px;
    display: inline-block;
    justify-items: center;
} */
.img_store {
  width: 21%;
  height: 119px;
  border: 2px dashed #9e9b9b;
  padding: 57px;

}

@media(max-width:1320px) {
  .img_store {
    width: 178px;
    height: 119px;
    border: 2px dashed #9e9b9b;
    padding: 57px;
  }
}

@media(max-width:768px) {
  .prod_checkBox {
    display: block;
  }
}

/* .img_store1{
  position: relative;
  bottom: 50px;
  cursor: pointer;
} */
.img_store1 {
  position: relative;
  bottom: 28px;
  left: 8px;
}

@media(min-width:1100px) {
  .img_store1 {
    position: relative;
    bottom: 28px;
    left: 30px;
  }
}


.Store_country {
  width: 100%;
}

.country_main_div {
  width: 98%;
}

.img_store_lince {
  width: 200px;
  height: 119px;
  border: 2px dashed #9e9b9b;
  /* padding: 57px; */
}




/* Tgggole Button Product page  */
.mask-box {
  border-radius: 20px;
  position: relative;
  background: #f5f5f5;
  box-shadow: 1px 1px 2px rgb(165, 165, 165) inset;
}

.mask-box .mask {
  width: 63px;
  height: 40px;
  border-radius: 20px;
  background: #31B665;
  position: absolute;
  box-shadow: 1px 0 2px #b473ff;
  transition: all 0.2s ease;
}

.mask-box .MuiButton-root {
  color: black;
  border-radius: 20px;
  width: 63px;
  height: 40px;
  font-weight: bold;
  transition: all 0.2s 0.1s ease;
}

.mask-box .MuiButton-root:hover {
  opacity: 0.5;

}

/* labresult Product */

.mask-box_lab .mask_lab {
  width: 60px;
  height: 40px;
  border-radius: 11px;
  background: #AAAAAA;
  position: absolute;
  /* box-shadow: 1px 0 2px #b473ff; */
  transition: all 0.2s ease;
}

.mask-box_lab .MuiButton-root {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.2s 0.1s ease;
  color: #3C3C3C;
}

.mask-box_lab .MuiButton-root:hover {
  opacity: 0.5;
}

.css-0 {
  display: flex;
}

.product_title {
  color: #000000;
  font-size: 25px;
  font-weight: 700;
}

@media (max-width:768px) {
  .product_title {

    font-size: 20px;
    font-weight: 600;
  }

}

@media (max-width:600px) {
  .product_title {

    font-size: 18px;
    font-weight: 550;
  }

}






.btn button {
  color: #31B665;
  background-color: #FFFFFF;
  border: 1px solid #31B665;
}

.btn button:hover {
  background-color: #31B665;
  color: #FFFFFF;
  border: 1px solid #31B665;
}

.cat_pop_btn {
  border: none;

}

/* Added 15 feburary */
.Sub_button {
  font-size: 15px;
  color: #FFFFFF;
  background-color: #31B665;
}

.Sub_button:hover {
  background-color: #FFFFFF;
  color: #31B665;
}

.btn:hover {
  color: #FFFFFF;
  background-color: #31B665;
}

.category_main_row {
  position: relative;
  left: 16%
}

@media(max-width:991px) {
  .category_main_row {
    width: 100%;
    left: 0%;
    position: absolute;
  }
}

/* 16th feburaary */
.sub_category_main_row {
  position: relative;
  left: 16%;
}

@media(max-width:991px) {
  .sub_category_main_row {
    width: 100%;
    left: 0%;
    position: absolute;
  }
}


/* menu_logo */
.menu_logo {
  color: white;
  font-size: 25px;
}

.navbar-toggler:hover {
  border-color: white;
  text-decoration: none;
}

.navbar-light .navbar-toggler {
  color: rgb(241 240 240 / 55%);
  border-color: rgba(0, 0, 0, .1);
}


/* 18/02/23 */
.city_main_row {
  position: relative;
  left: 16%
}

@media(max-width:991px) {
  .city_main_row {
    width: 100%;
    left: 0%;
    position: absolute;
  }
}

.country_pop_btn {
  border: none;

}

.state_main_row {
  position: relative;
  left: 16%
}

@media(max-width:991px) {
  .state_main_row {
    width: 100%;
    left: 0%;
    position: absolute;
  }
}


/* end */


/* product Category */

.product_category {
  font-size: 22px;
  font-weight: 500;
}

.Product_Checkbox {

  gap: 20px;
  display: grid;

}

.form-group-checkboxdev {
  background: #F5F5F5;
  font-size: 20px;
  justify-content: left;
  display: flex;
  gap: 10px;

}

.Product_subCategory {
  /* display: flex; */
  /* justify-content: end; */
  gap: 5px;
  display: inline-flex;
}

.checkbox:checked::after {
  background-color: green;
}

.multipleSelection {
  width: 300px;
  background-color: #BCC2C1;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkBoxes {
  display: none;
  border: 1px #8DF5E4 solid;
}

#checkBoxes label {
  display: block;
}

#checkBoxes label:hover {
  background-color: #4F615E;
}


.flavour_main_col {
  position: relative;
  left: 16%
}

@media(max-width:991px) {
  .flavour_main_col {
    width: 100%;
    left: 0%;
    position: absolute;

  }
}

.netWeight_main_col {
  position: relative;
  left: 16%
}

@media(max-width:991px) {
  .netWeight_main_col {
    width: 100%;
    left: 0%;
    position: absolute;
  }
}

.rightPanelSpan1 {
  margin-left: 17px;
}

.tax_main_row {
  position: relative;
  left: 16%
}

@media(max-width:991px) {
  .tax_main_row {
    width: 100%;
    left: 0%;
    position: absolute;
  }
}

.tax_pop_up_Main_row {
  margin-top: 6%;
}

.flavour_main_col {
  position: relative;
  left: 16%
}

@media(max-width:991px) {
  .flavour_main_col {
    width: 100%;
    left: 0%;
    position: absolute;

  }
}

.netWeight_main_col {
  position: relative;
  left: 16%
}

@media(max-width:991px) {
  .netWeight_main_col {
    width: 100%;
    left: 0%;
    position: absolute;
  }
}

.rightPanelSpan1 {
  margin-left: 17px;
}

.tax_main_row {
  position: relative;
  left: 16%
}

@media(max-width:991px) {
  .tax_main_row {
    width: 100%;
    left: 0%;
    position: absolute;
  }
}

.tax_pop_up_Main_row {
  margin-top: 6%;
}


.gift_main_col {
  position: relative;
  left: 16.5%
}

@media(max-width:991px) {
  .gift_main_col {
    width: 98%;
    left: 1%;
    position: absolute;

  }
}

/* 20 feb  */
.discount_main_row {
  position: relative;
  left: 16%
}

@media(max-width:991px) {
  .discount_main_row {
    width: 100%;
    left: 0%;
    position: absolute;
  }
}




.gift_main_col {
  position: relative;
  left: 16.5%
}

@media(max-width:991px) {
  .gift_main_col {
    width: 98%;
    left: 1%;
    position: absolute;

  }
}

.coupan_main_col {
  position: relative;
  left: 16.5%
}

@media(max-width:991px) {
  .gift_main_col {
    width: 98%;
    left: 1%;
    position: absolute;

  }
}

.top_discount {
  position: relative;
  margin-top: 12%;
}

.brand_main_col {
  position: relative;
  left: 16.5%
}

@media(max-width:991px) {
  .brand_main_col {
    width: 98%;
    left: 1%;
    position: absolute;

  }
}

.brand_edit_img {
  display: flex;
  justify-content: center;
}

@media(max-width:600px) {
  .brand_edit_img {
    /* display: flex; */
    display: flex;

    justify-content: flex-start;
    margin-top: 10px;
  }
}

.country_select {
  position: relative;
  left: 44px;
}

@media(max-width:600px) {
  .country_select {
    position: relative;
    left: 0px;
  }
}

.country_label {
  position: relative;
  left: 38px;
}

@media(max-width:600px) {
  .country_label {
    position: relative;
    left: 0px;
  }
}

.store_website {
  position: relative;
  left: -9px;
}

@media(max-width:600px) {
  .store_website {
    position: relative;
    left: 0px;
  }
}

.store_mobile {
  position: relative;
  left: 30px;
}

@media(max-width:600px) {
  .store_mobile {
    position: relative;
    left: 0px;
  }
}

@media(max-width:600px) {
  .store_type {
    min-width: 100%;
  }
}

.store_img {
  position: relative;
  left: 0px;

}

.licence_type_col {
  position: relative;
  left: -8px;
}

@media(max-width:600px) {
  .licence_type_col {
    position: relative;
    left: 0px;
  }
}

.expires_col {
  position: relative;
  left: 115px;
}

@media(max-width:600px) {
  .expires_col {
    position: relative;
    left: 0px;
  }
}

.expire_label_col {
  position: relative;
  left: 115px;
}

@media(max-width:600px) {
  .expire_label_col {
    position: relative;
    left: 0px;
  }
}

.main_img_store {
  width: 21%;
  height: 119px;
  border: 2px dashed #9e9b9b;
  padding: 57px;
}

.img_store2 {
  /* position: relative; */
  /* bottom: 28px; */
  left: 0px;
}

.upload_img {
  position: relative;
  bottom: 27px;
  left: 20px;
}

.licenceImg {
  position: relative;
  text-align: start;
  margin-top: 10px;
}

.country_main_divs {
  width: 92%;
}

/* @media(max-width:1000px) {
  .country_main_divs{
    display: flex;
    flex-direction: column;
    width:100%;
  }
} */