textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding-left: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
}
textarea:focus { 
    outline: none !important;
    border-color: #31B665;
    border:2px solid #31B665;
}
.reviewContainer {
    height: 100px;
}
.roleLabelStyle{
    color: #000000;
    font-size: 16px;
}
.reviewMainContainer {
    position: relative;
    left: 16%;
    padding: 0px 15px;
    height: auto;
}

.ReviewSearchBar_container {
    height: 120px;
    display: flex;
    align-items: center;
}

.reviewContainer {
    height: auto;
    position: relative;
    left: 16%;
}

.review_backBtn {
    font: normal normal 600 24px Open Sans;
    color: #000000;
}

.reviewSearchBar_backArrowBtn {
    display: flex;
    gap: 8px;
}

.reviewButtonView {
    display: flex;
    justify-content: flex-end;
    height: 30px;
}

.reviewFilter {
    height: 80px;
    display: flex;
    align-items: center;
}

.reviewFilterHeadings {
    font: normal normal 600 24px Open Sans;
    color: #000000;
}

.reviewFilterBtns {
    display: flex;
    justify-content: flex-end;
}

@media(max-width:600px) {
    .review_backBtn {
        font-size: 12px;
    }
}

@media(max-width:991px) {
    .reviewMainContainer {
        left: 0px;
        width: 100%;
        padding: 0px
    }
}

/* NumberOfReview */
.NumberOfReview_container {
    display: flex;
    height: auto;
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
    margin-top: 20px;
    padding: 30px 0px;
}

.NumberOfReview_container_Card1 {
    border-right: 1px solid #D1D1D1;
}

.numberOfRatingsCol {
    height: 30px;
    display: flex;
    align-items: center;
}

.headingsCol {
    /* border: 1px  solid #D1D1D1; */
    height: 35px;
}

.NumberOfReviewRating_Col {
    height: 35px;
    gap: 8px;
    display: flex;
    align-items: center;
}

.avgBottomHeading {
    font: normal normal normal 20px Open Sans;
    color: #B1B1B1;
}

.totalReviewHeadings {
    font: normal normal normal 20px Open Sans;
    color: #111111;
}

.totalReviwsCount {
    font: normal normal bold 20px Open Sans;
    color: #111111;
}

.bottomHeadings {
    font: normal normal normal 20px Open Sans;
    color: #B1B1B1;
}

.NumberOfReview_container_Card2 {
    height: auto;
    padding-left: 20px;
    border-right: 1px solid #D1D1D1;
}

.NumberOfReviewHeading_Col {
    height: 35px;
}

.avgRatingHeadings {
    font: normal normal normal 20px Open Sans;
    color: #111111;
}

.reviewRatingPoint {
    font: normal normal bold 20px Open Sans;
    color: #595959;
}

.linearProgressCol {
    padding-left: 20px;
}

.eachLinearSearchBradiv {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 35px;
}

@media(max-width:780px) {
    .totalReviewHeadings {
        font-size: 14px;
    }

    .totalReviwsCount {
        font-size: 14px;
    }

    .bottomHeadings {
        font-size: 14px;
    }
}

@media(max-width:562px) {
    .NumberOfReview_container_Card2 {
        padding-left: 0px;
        width: 100%;
        border-right: 0px;
        border-bottom: 1px solid #D1D1D1;
    }

    .linearProgressCol {
        padding-left: 0px;
        width: 100%;
        border-bottom: 1px solid #D1D1D1;
    }

    .NumberOfReview_container {
        display: block;
    }

    .NumberOfReview_container_Card1 {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #D1D1D1;
    }
}

/* end */
/* UserAndOwnerReview */
.UserAndOwnerReview_mainCol {
    height: auto;
    margin-top: 50px;
}

.UserAndOwnerReview_innerCol {
    border: 1px solid #D1D1D1;
    height: auto;
    margin-top: 15px;
}

.UserAndOwnerReview_deleteIconCol {
    display: flex;
    justify-content: flex-end;
    padding: 40px 40px;
}

.userReviewContainer {
    display: flex;
    height: 250px;
    padding: 0px 40px;
    border-bottom: 1px solid #D1D1D1;
}

.userReviewLeftSection {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;

}

.userReviewRightSection {
    height: 100%;
    width: 90%;
    padding: 0px 10px;
}

.userOwnerImgContainer {
    height: 80px;
    width: 80px;
    border-radius: 40px;
}

.userOwnerImg {
    height: 78px;
    width: 78px;
    border-radius: 39px;
}

.userReviewRightHead_Col {
    height: 40px;
}

.userReviewRighRating_col {
    height: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.userRevievCommentCol {
    height: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.userReviewRightHeading {
    font: normal normal bold 30px Open Sans;
    color: #595959;
}

.userReviewRight_Paragraph {
    font: normal normal normal 24px Open Sans;
    color: #747474;
}

.reviewDate {
    font: normal normal normal 24px Open Sans;
    color: #747474;
}

.userReviewss {
    font: normal normal normal 24px Open Sans;
    color: #747474;
}

.ReviewOwner_container {
    height: 300px;
    display: flex;
    padding: 0px 40px;
}

.ownerReviewImage_section {
    width: 10%;
    height: 250px;
    display: flex;
    justify-content: center;
}

.ownerReviewImage {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.ownerReviewImageCont {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.ownerRightSectionss {
    width: 90%;
    height: 300px;
    padding: 0px 10px;
}

.ownerParaa {
    font: normal normal normal 24px Open Sans;
    color: #747474;
}

.ownerRightHeading {
    font: normal normal bold 30px Open Sans;
    color: #595959;
}

.ownerRightHeadingCont {
    height: 35px;
}

@media(max-width:1300px) {
    .userReviewContainer {
        padding: 0px 2px;
    }

    .ReviewOwner_container {
        padding: 0px;
    }
}

@media(max-width:1205px) {
    .userReviewss {
        font-size: 16px;
    }
}

@media(max-width:911px) {
    .userOwnerImgContainer {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
    }

    .userOwnerImg {
        height: 50px;
        width: 50px;
        border-radius: 25px;
    }

    .ownerReviewImageCont {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
    }

    .ownerReviewImage {
        height: 50px;
        width: 50px;
        border-radius: 25px;
    }
}

@media(max-width:672px) {
    .userReviewLeftSection {
        width: 24%;

    }

    .reviewDate {
        font-size: 12px;
    }

    .userReviewRightHeading {
        font-size: 18px;
    }

    .userReviewRight_Paragraph {
        font-size: 12px;
    }

    .userReviewss {
        font-size: 12px;
    }

    .userReviewRightSection {
        width: 76%;
    }

    .ownerReviewImage_section {
        width: 24%;

    }

    .ownerRightSectionss {
        width: 76%;

    }

    .ownerParaa {
        font-size: 12px;
    }

    .ownerRightHeading {
        font-size: 18px;
    }
}

/* end */
/* Signup */
.SignupContainer {
    height: auto;
    border: 1px solid #D1D1D1;
    position: relative;
    left: 16.2%;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0px 0px;
}

.SignupHeading_container {
    height: 120px;
    border: 1px solid #D1D1D1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupFields_container {
    display: flex;
    justify-content: center;
    height: auto;
}

.signupFieldInner_Container {
    height: auto;
}

.signupLogo_container {
    height: 90px;
    width: 120px;
}

.signupLogo_image {
    height: 100%;
    width: 100%;
}

.signup_headings {
    font-size: 32px;
    height: 43px;
    color: #000000;
    margin-top: 35px;
}

.signup_user_main_container {
    display: flex;
    height: auto;
    margin-top: 20px;
}

.signup_image_mainContainer {
    height: 151px;
    width: 11%;
    padding-bottom: 10px;
    margin-top: 5px;
}

.siginup_imgCont {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background-color: #E9E9E9;
}

.signupUser_image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.signupDropdown_rightSection {
    width: 90%;
    height: auto;
    padding-left: 40px;
}

.roleHead {
    font-size: 20px;
    color: #000000;
    opacity: 1;
}

.signupNameFields {
    margin-top: 20px;
    height: auto;
}

.userEmialFieldCol {
    height: 80px;
    margin-top: 30px;
}

.passwordFiledCol {
    height: 80px;
    margin-top: 30px;
}

.signupConditionCol {
    height: 80px;
    display: flex;
    align-items: center;
}

.signTermCond {
    color: #31B665;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 7px;
}

.signup_name {
    color: #000000;
    font-size: 18px
}

.Useremail {
    color: #000000;
    font-size: 18px
}

.password {
    color: #000000;
    font-size: 18px;
    margin-inline: 0px;
}

.status {
    color: #000000;
    font-size: 18px;
    margin-top: 30px;
}

.signiningCondPara {
    color: #000000;
    font-size: 13px;
    margin-bottom: 0px;

}

.userName {
    color: #000000;
    font-size: 18px;
}

.signupPhoneCol {
    margin-top: 30px;
}

.signUp_loading_btn {
    display: flex;
    width: 50%;
    justify-content: center;
}

.alreadyAccount {
    height: 80px;
    margin-top: 30px;
}

@media(max-width:1244px) {
    .signup_image_mainContainer {
        width: 14%;
    }

    .signupDropdown_rightSection {
        width: 86%;
    }

    .signup_headings {
        font-size: 18px;
    }
}

@media(max-width:991px) {
    .SignupContainer {
        left: 0px;
        width: 100%;
    }
}

@media(max-width:762px) {
    .alreadyAccount {
        width: 100%;
    }

    .signup_image_mainContainer {
        width: 18%;
    }

    .signupDropdown_rightSection {
        width: 82%;
    }
}

@media(max-width:700px) {
    .signup_image_mainContainer {
        width: 28%;
        height: 98px;
        margin-top: 5px;
    }

    .signUp_loading_btn {
        width: 100%;
    }

    .signupDropdown_rightSection {
        width: 72%;
    }

    .signupUser_image {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
}

/* end */
/* Anshuman */
.RememberMeCheckBox {
    margin-left: 7px;
    display: initial;
}

/* end */
/* Settings */
.Settings_container {
    position: relative;
    height: auto;
    left: 16.2%;
    display: flex;
    justify-content: center;
}

.settingsHeadings {
    font: 600 32px Open Sans;
    color: #000000;

}

.settingsAllCard_container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029, 0px 3px 6px #00000029;

}

.rolesAndContainerCard {
    height: auto;
    padding: 15px;

}

.rolesAndContainerCard:hover {
    background-color: #E1FFED;
}

.rolesCard {
    display: flex;
    gap: 10px;

}

.roleHeadingFont {
    font-size: 20px;
    columns: #000000;
}

@media(max-width:991px) {
    .Settings_container {
        left: 0px;
        width: 100%;
        display: flex-start;
    }

    .settingHeading_contentContainer {
        width: 100%;
    }
}

/* end */
/* RoleAndPermission */
.RoleAndPermissionContainer {
    position: relative;
    left: 16%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rolesAndPermissionTableheader {
    background-color: #E1FFED;
    border-bottom: 2px solid #E1FFED;
}

.rolesAndPermissionTableheader tr th {
    width: 250px;
}

.Rolesparagrpah {
    margin-bottom: 0px;
}

.roleUserName {
    font: 600 18px Open Sans;
    color: #000000;
}

.roleEmail {
    font: 18px Open Sans;
    color: #5F5F5F;
}

.roleAndTableImageSize {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.rolesAndPermissionParagraphCol {
    display: grid;
    align-items: center;
}

.rolesAndPermissionParagraph {
    height: 40px;
}

.rolesAndPermissionImage {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 80px;

}

.rolesAndPermissionTableContainer {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029, 0px 3px 6px #00000029;
}

.rolesAndPermissionHeader_MainContainer {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-top: 20px;
}

.learnMoreLink {
    margin-left: 8px;
    font-size: 15px;
}

.rolesPermission {
    font: 600 32px Open Sans;
    letter-spacing: 0.6px;
    color: #000000;
}

.rolesPermissionsubHeadingFont {
    font: 18px Open Sans;
    color: #5F5F5F;
}

.learnMoreLink:hover {
    color: #31B665;
    margin-left: 8px;

}

.rolesAndPermissionHeader_Container {
    display: flex;
    gap: 10px;
}

.roleAndPermissionBtnContainer {
    display: flex;
    justify-content: flex-end;
    gap: 3px;
}

.rolesAndPermissionJustify {
    text-align: justify;
}

.roleAndPermissionTh_div_flex {
    display: flex;
    align-items: center;
    width: 109px;
}


.rolesAllDropdownMaincontainer {
    display: flex;
    gap: 10px;
    padding-left: 5px;
    flex-wrap: wrap;
}

.rolesAndpermission_Searchbar {
    height: 50px;
    display: flex;
    align-items: center;
}
.roles_permission_Searchbar{
    height: 50px;
    display: flex;
    align-items: center;  
    justify-content: flex-end;
    padding-right: 15px;
}


.roleCreatelist {
    padding-left: 0px;
}

.roleTd_fontStyle {
    color: #000000;
}

.roleTdChangeOwner_fontStyle {
    color: #31B665;
    cursor: pointer;
}

.roleTdChangeOwner_fontStyle:hover {
    color: #92daae;
}


.roleTdFlex {
    display: grid;
    align-items: center;
    height: 80px;
}

@media(max-width:991px) {
    .RoleAndPermissionContainer {
        left: 0px;
        display: flex-start;
        width: 100%;
    }

    .roleAndTableImageSize {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .rolesPermissionsubHeadingFont {
        font-size: 13px;
    }

    .roleEmail {
        font: 12px Open Sans;
    }

    .roleUserName {
        font-size: 12px;
    }
}

.roelFirstSelectTagsContainer {
    display: flex;
    height: 50px;
    align-items: center;
    gap: 7px;
}

.roleSelectTags {
    width: 70%;
    height: 30px;
    border-radius: 20px;
    border-color: #BEBEBE;
    padding: 2px 4px;
}
@media(max-width:500px) {
    .rolesAndpermission_Searchbar {
        justify-content: center;
    }

    .rolesAndPermissionHeader_Container {
        gap: 1px;
    }
.roles_permission_Searchbar{
    justify-content: flex-start;
    padding-left: 7px;
}
    .roleAndPermissionBtnContainer {
        display: flex;
        justify-content: flex-start;
        gap: 3px;
        padding-left: 10px;
    }

    .roleTdChangeOwner_fontStyle {
        font-size: 10px;
    }
}

/* end */
/* manageRole */
.manageRoleContainer {
    position: relative;
    left: 16%;
}

.manageRoleCenterContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.generalRole_listContainer {
    display: flex;
    padding-left: 7px;
}

.generalRoleListLeftList {
    text-align: justify;
    font: 18px Open Sans;
    color: #5F5F5F;
}
.generalOl{
    padding-left: 0px;
}
.requestNotAssigned{
    margin-bottom: 0px;
    color: #5F5F5F;
}
.generalListHeight{
    list-style: none;
    height: auto;
    padding: 15px 0px;
    display: block;
    width: 100%;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;

}
.generalListHeight:hover{
    background-color: #E1FFED;
}
.generalListCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.generalBtn_ThreeDot {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.generalRoleListHeading_Style {
    color: #000000;
    font-size: 18px;
}

.generalRoleHeadings {
    font: 22px Open Sans;
    color: #000000;
    padding-left: 7px;

}

.GeneralRole_container {
    height: auto;
   padding-top: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029, 0px 3px 6px #00000029;
}

@media(max-width:500px) {
    .manageRoleCenterContainer {
        display: flex-start;
    }
    .generalRoleListLeftList{
        font-size: 12px;
    }
    .requestNotAssigned{
        font-size: 10px;
    }
    .generalBtn_ThreeDot{
        gap: 1px;
    }
    .generalRoleListHeading_Style{
        font-size: 14px;
    }
}
@media(max-width:380px){
    .generalRoleListLeftList{
        font-size: 9px;
    }
    .requestNotAssigned{
        font-size: 7px
    }
}
@media(max-width:991px) {
    .manageRoleContainer {
        width: 100%;
        left: 0px;
    }
}

/* end */
/* RoleDetail */
.RoleDetails_container{
    height: auto;
    padding-top: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029, 0px 3px 6px #00000029;   
}
.roleDetailInputField_container{
    display: flex;
    gap:1px;
    padding:10px 7px;
}
.roleDetails_header{
    height:auto;
    padding: 10px 7px;
    border-bottom: 1px solid #B1B1B1;
}
.roleDetailsHeading{
    font: 600 18px;
    color: #000000;
    font-size: 18px;
}
.roleDetailsSechaedings{
    color: #000000;
    font-size: 16px;
    text-align: justify;
}
/* end */
/* RoleDetailsAndPermission */

.RoleDetailsAndPermission_container{
    position: relative;
    left: 16%;
}
@media(max-width:991px){
    .RoleDetailsAndPermission_container{
        left: 0px;
        width: 100%;
    }
    .roleDetailsSechaedings {
        font-size: 14px;
    }
}

/* end */
/* rolePermission */
.rolePermission_container{
    height: auto;
    padding-top: 20px;
    margin-top: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029, 0px 3px 6px #00000029; 
}
.rolePermisionHeaderContainer{
    display: flex;
    padding-left: 10px;
}
.rolePermissionLists_container{
   height: auto; 
   /* padding-left: 10px; */
}
.rolePermissionListsStyles{
    display: block;
    list-style: none;
    gap: 10px;
}
.rolePermissionOrderList{
    padding-left: 0px;
}
.rolePermissionIcon_listContainer{
    display: flex;
    align-items: center;
    border-bottom:1px solid #DBDBDB ;
    height: 60px;
    padding-left: 10px;
    gap: 10px;
}
/* end */
/* RolePermissionListToggle */
.rolePermissionLabel{
    color: #000000;
}
.RolePermissionListToggle_container{
    height: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
}
.RolePermissionListToggle_container{
    height: auto;
}
.rolePermissionListName{
    color: #000000;
    font-size: 16px;
}
.checkCondition_container{
    height: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    height: auto;
    padding: 15px 10px;
}
/* end */
/* Navbar */
.navbarOredrListStyle{
    /* display: flex;
    justify-content: flex-end;
    gap: 20px; */
    display: flex;
    justify-content: flex-end;
    gap: 79px;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
    top: 7px;
    padding-right: 10px;

}

.NvaListStyle{
    list-style: none;
}
@media(max-width:768px){
    .navbarOredrListStyle{
        gap: 30px;
    }
}
@media(max-width:600px){
    .navbarOredrListStyle{
        gap: 14px;
    }
    .messagebox{
        font-size: 20px;
    }
}
.allColumn_Center{
    display: flex;
    justify-content: center;
}
.loginLOgOutHeadingCenter{
    display: grid;
    justify-content: center;
}
.editProfile_headings{
    display: flex;
    align-items: center;
}
.userEditProfileHeadingCol{
    display: flex;
    align-items: center;
}
.editProfileEdit_Icons{
    display: flex;
    justify-content: flex-end;
}
.EditProfileHeadingStyle{
    color: #222B45;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 28px;
}
.userProfileEdit_imageContainer{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputLabel_image{
    height: 120px;
    width: 136px;
    position: relative;
    color: #747474;
}
.promotionalImageContainers{
    display: flex;
    margin-top: 20px;
}
.imageContainer{
    width: 208px;
    height: 136px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userEdit_photo_label{
    position: absolute;
    bottom: 10px;
    display: flex;
    gap: 4px;
    left: 10px;
    width: 128px;
}
.userEditProfleImage{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
.changePhoto_title{
    width: 100%;
}
.userEditNameFlex{
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.userEditbtnFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}
.userEditNameIconFlex{
    display: flex;
    gap: 10px;
    align-items: center;  
}
.UserEditProfile_label{
    color: #747474;
    font-size: 20px;
}
.userEDitMarginLoadingBtn{
    margin-top: 20px;
}
.userEditCloseBtn{
    display: flex;
    justify-content: flex-end;
}
@media(max-width:500px){
    .UserEditProfile_label{
        font-size: 8px;
    }
    .userEditNameIconFlex{
        gap:4px;
    }
  
}
/* end */
/* login-logout */
.login_logout_center{
    display:flex;
    justify-content: center;
}
.login_logout_labelStyle{
color:#3C3C3C
}
.login_logoutBtn_width{
    width: 49%;
    height: 30px;
    font-size: 16px;
}
/* end */
/* PromotionalBanner */
.PromotionalBannerContainer{
    position: relative;
    left: 16%;
}
.promtionalBannerHeader{
    display: flex;
    align-items: center;
    height: 80px;
}
.promotionBackBtnHead{
    color: #000000;
    font-size: 20px;
}
.promotionalBannerInputFiledsContainer{
    display: flex;
   
}
.promotionHeads{
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    margin-left: 10px;
}
.promotionSelectWidth{
    width: 100%;
    height: 32px;
    border-radius: 5px;
    border-color: #BEBEBE;
}
.promotionalImage{
    height: 95px;
    width: 135px;
}
.promotionalImageSection{
    display: flex;
    align-items: center;
    height: auto;
}
.promotionalBannerSelectCol{
    display: flex;
  
}
.PromotionalMainContainer{
    display: flex;
    justify-content: center;
}
@media(max-width:992px){
    .PromotionalBannerContainer{
        left: 0px;
        width: 100%;
    }
}
/* .promtionalBannerHeader{
    height: auto;
} */
@media(max-width:500px){
    .promotionalImage {
        height: 50px;
        width: 68px;
    }
    .imageContainer{
        width: 100px;
        height: 90px;
    }
    .promotionBackBtnHead{
        font-size: 12px;
    }
}
.promotionBtn_center{
    display: flex;
    justify-content: center;
}
/* end */
/* promotionalBannerList */
.promotionalBannerTableTh_div{
    width: 235px;
}
.table > :not(:first-child) {
    border-top: 0;
  }
.PromotionalBannerList{
    position: relative;
    left: 16.2%;
}
.promotionalTableHeader{
    height: 80px;
    background-color: #E1FFED;
}
.promotionalListBodyRow{
    height: 50px;
    background-color: #FAFAFA;
}
.promotionalListBodyRow:hover{
    background-color: #FFFFFF;
}

.promotionThreeDotPopup{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow:  0px 3px 6px #00000029, 0px 3px 6px #00000029;
border: 1px solid #E3E3E3;
border-radius: 8px;
width: 120px;
position: relative;
z-index: 1;
padding: 4px;
}
.promotionOL_list{
    list-style: none;
    display: block;
    margin-left: 0px;
    padding-left: 0px;
}
.promotionOL_list li{
    display: block;
}
@media(max-width:992px){
   .PromotionalBannerList{
    left: 0px;
    width: 100%;
   } 
}
/* end */