@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");
.section_card {
  background-color: #fff;
  border-radius: 8px;
  fill: #fff;
  filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
}
.section_card .pagetitle {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.22px;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 18px;
}

.namecircles {
  background-color: rgb(220, 202, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
}

.storerating {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #002970;
  padding: 0px 5px;
  color: #fff;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  cursor: pointer;
}

.categoryeditpopupcontainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 38px 50px 50px 51px;
  position: relative;
}
.categoryeditpopupcontainer .popupCloseBtn {
  position: absolute;
  top: 18px;
  right: 18px;
  font-size: 25px;
  cursor: pointer;
}
.categoryeditpopupcontainer .categorypopuptextfrild {
  width: 100%;
  margin: 20px auto;
}
.categoryeditpopupcontainer .categorypopuptextfrild:last-child {
  margin-bottom: 50px;
}
.categoryeditpopupcontainer .categorypopuptitle {
  color: #000;
  font-family: "Poppins";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.22px;
  margin-bottom: 33px;
  text-align: center;
}
.categoryeditpopupcontainer .categoryeditpopupimageBox {
  text-align: center;
  width: 195px;
  height: 195px;
  flex-shrink: 0;
  border-radius: 4.309px;
  background: #d9d9d9;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
}
.categoryeditpopupcontainer .Upload_btn {
  display: inline-flex;
  height: 37px;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #00ac4f;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 50px;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.categoryeditpopupcontainer .lds-ring {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}
.categoryeditpopupcontainer .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  margin: 8px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.categoryeditpopupcontainer .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.categoryeditpopupcontainer .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.categoryeditpopupcontainer .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.venderSection .storelistcardWrapper {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 9px 0;
}
.venderSection .storelistcardWrapper .storelistcard {
  position: relative;
  width: 280px;
  padding: 15px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.venderSection .storelistcardWrapper .storelistcard .storeType {
  display: flex;
  align-items: center;
  gap: 5px;
}
.venderSection .storelistcardWrapper .storelistcard .storeType span {
  padding: 4px;
  background-color: rgba(223, 168, 116, 0.2);
  font-size: 12px;
  color: #d58d49;
  border-radius: 4px;
}
.venderSection .storelistcardWrapper .storelistcard .storelistcardName {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  line-height: 1.5;
}
.venderSection .storelistcardWrapper .storelistcard .storelistcardDesc {
  font-size: 12px;
  font-weight: 400;
  color: #000;
  line-height: 1.5;
}

.image_circle_tsp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_circle_tsp img {
  width: 100%;
  height: 100%;
}

.statusactive {
  padding: 3px 10px;
  background-color: rgba(81, 176, 157, 0.15);
  color: #51b09d;
  border-radius: 4px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.statusinactive {
  padding: 3px 10px;
  background-color: rgba(233, 6, 6, 0.2);
  color: #d80808;
  border-radius: 4px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.empty-state {
  width: 100%;
  height: 80%;
  background: #ffffff;
}
.empty-state__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.empty-state__content .empty-state__icon {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: #f7fafc;
  box-shadow: 0px 2px 1px #e1e3ec;
}
.empty-state__content .empty-state__icon img {
  width: 120px;
}
.empty-state__content .empty-state__message {
  color: #38a169;
  font-size: 14px;
  font-weight: 500;
  margin-top: 0.85rem;
  text-align: center;
}
.empty-state__content .empty-state__help {
  color: #a2a5b9;
  font-size: 12px;
  text-align: center;
}

.PromotionalMainContainer .feild_box {
  width: 500px;
  margin-bottom: 10px;
}
.PromotionalMainContainer .feild_box .label_custom {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
}
.PromotionalMainContainer .feild_box .promotionSelectWidth {
  width: 100%;
  border-radius: 5px;
  border-color: #BEBEBE;
  font-size: 14px;
  padding: 8px 15px;
}
.PromotionalMainContainer .feild_box.image_input_box {
  max-width: 360px;
}
.PromotionalMainContainer .feild_box.image_input_box .label_custom {
  color: #435085;
}
.PromotionalMainContainer .feild_box.image_input_box .bannerImagebox {
  border: 2px dashed #727CA4;
  text-align: center;
  background-color: rgba(209, 212, 225, 0.4);
}
.PromotionalMainContainer .feild_box.image_input_box .bannerImagebox .product_imagebox {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.PromotionalMainContainer .feild_box.image_input_box .bannerImagebox .product_imagebox .removeUploadedImg {
  position: absolute;
  top: 0;
  right: 0;
}
.PromotionalMainContainer .feild_box.image_input_box .bannerImagebox .image_logosize1 svg {
  color: #000000;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */