@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
$border-color_1: #fff transparent transparent transparent;

.section_card {
  background-color: #fff;
  border-radius: 8px;
  fill: #fff;
  filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));

  .pagetitle {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 500;
    left: 0;
    letter-spacing: -0.22px;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 18px;
  }
}
.namecircles{
  background-color: rgba(220, 202, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
}
.storerating{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #002970;
  padding: 0px 5px;
  color: #fff;
text-align: center;
font-family: 'Plus Jakarta Sans', sans-serif;
font-size: 10px;
font-style: normal;
font-weight: 800;
line-height: normal;
cursor: pointer;
}
.categoryeditpopupcontainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 38px 50px 50px 51px;
  position: relative;
  .popupCloseBtn {
    position: absolute;
    top: 18px;
    right: 18px;
    font-size: 25px;
    cursor: pointer;
  }
  .categorypopuptextfrild {
    width: 100%;
    margin: 20px auto;
    &:last-child {
      margin-bottom: 50px;
    }
  }
  .categorypopuptitle {
    color: #000;
    font-family: "Poppins";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.22px;
    margin-bottom: 33px;
    text-align: center;
  }
  .categoryeditpopupimageBox {
    text-align: center;
    width: 195px;
    height: 195px;
    flex-shrink: 0;
    border-radius: 4.309px;
    background: #d9d9d9;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 18px;
      height: 18px;
      margin: 8px;
      border: 2px solid #fff;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: $border-color_1;
      &:nth-child(1) {
        animation-delay: -0.45s;
      }
      &:nth-child(2) {
        animation-delay: -0.3s;
      }
      &:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
  }
}
.venderSection {
  .storelistcardWrapper {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 9px 0;
    .storelistcard {
      position: relative;
      width: 280px;
      padding: 15px;
      overflow: hidden;
      border-radius: 12px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      .storeType {
        display: flex;
        align-items: center;

        gap: 5px;
        span {
          padding: 4px;
          background-color: rgba(223, 168, 116, 0.2);
          font-size: 12px;
          color: #d58d49;
          border-radius: 4px;
        }
      }
      .storelistcardName {
        font-size: 18px;
        font-weight: 700;
        color: #000;
        line-height: 1.5;
      }
      .storelistcardDesc {
        font-size: 12px;
        font-weight: 400;
        color: #000;
        line-height: 1.5;
      }
    }
  }
}
.image_circle_tsp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
  }
}
.statusactive {
  padding: 3px 10px;
  background-color: rgba(81, 176, 157, 0.15);
  color: #51b09d;
  border-radius: 4px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.statusinactive {
  padding: 3px 10px;
  background-color: rgba(233, 6, 6, 0.2);
  color: #d80808;
  border-radius: 4px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.empty-state {
  width: 100%;
  height: 80%;
  background: #ffffff;
  &__content {
 
    display: flex;
    align-items: center;
    flex-direction: column;

    .empty-state__icon {
      width: 150px;
      height: 150px;
      display: flex;
      align-items: center;
      border-radius: 200px;
      justify-content: center;
      background-color: #f7fafc;
      box-shadow: 0px 2px 1px #e1e3ec;

      img {
        width: 120px;
      }
    }

    .empty-state__message {
      color: #38a169;
      font-size: 14px;
      font-weight: 500;
      margin-top: 0.85rem;
      text-align: center;
    }

    .empty-state__help {
      color: #a2a5b9;
      font-size: 12px;
      text-align: center;
    }
  }
}
.PromotionalMainContainer{
  .feild_box{
   
      width: 500px;
      margin-bottom: 10px;

      .label_custom{
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing:0.2px;
      }
      .promotionSelectWidth{
        width: 100%;
        border-radius: 5px;
        border-color: #BEBEBE;
        font-size: 14px;
        padding: 8px 15px;
    }
  }
  .feild_box.image_input_box{
    max-width: 360px;
    .label_custom{
        color: #435085;
    }
    .bannerImagebox{
      border: 2px dashed #727CA4;
      text-align: center;
      background-color: rgba(209, 212, 225, 0.4);
      .product_imagebox {
        min-height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .removeUploadedImg{
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      .image_logosize1 svg {
        color: #000000;
        font-size: 20px;
      
      }
    }
 }
}
.deleteconfirmpopup{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  .deletepopup{
    width: 420px;
    padding:40px 20px;
    border-radius: 12px;
    background-color: #fff;
    position: relative;
    .closebtn{
      position: absolute;
      top: 0;
      right: 0;
      background-color: #0000006e;
      color: #fff;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
    }
    .Iconsdelete{
      text-align: center;
      .dangericon{
        font-size: 90px;
        color: #C00505;
      
      }
    }
    p{
       font-size: 24px;
       font-weight:500 ;
       line-height: 36px;
       color: #222529;
       text-align: center;
       font-family: 'Poppins', sans-serif;
       line-height: 1.5;
       padding: 20px 0;
    }
    .popupbtn{
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #fff;
      border: 0;
      border-radius: 4px;
      line-height: 2.5;
      &:first-child{
        background-color:#C00505 ;
      }
      &:nth-child(2){
        background-color: #38a169;
      }
    }
  }

}

.sucsconfirmpopup{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  .sucspopup{
    width: 420px;
    padding:40px 20px;
    border-radius: 12px;
    background-color: #fff;
    position: relative;
    .closebtn{
      position: absolute;
      top: 0;
      right: 0;
      background-color: #0000006e;
      color: #fff;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
    }
    .Iconssucs{
      text-align: center;
      .dangericon{
        font-size: 90px;
        color: #00AC4F;
      
      }
    }
    p{
       font-size: 24px;
       font-weight:500 ;
       line-height: 36px;
       color: #222529;
       text-align: center;
       font-family: 'Poppins', sans-serif;
       line-height: 1.5;
       padding: 20px 0;
    }
    .popupbtn{
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #fff;
      border: 0;
      border-radius: 4px;
      line-height: 2.5;
      &:first-child{
        background-color:#00AC4F ;
      }
      &:nth-child(2){
        background-color: #38a169;
      }
    }
  }

}

.UserProfile{
  .UserProfileWrapper{
    display: flex;
    gap: 20px;
    min-height: 80vh;
    .userDiscription{
      width: 420px;
      background-color: white;
      height: 100%;
      .userCircle{
        width: 130px;
        height: 130px;
        border-radius: 50%;
        margin:  0 auto;
        overflow: hidden;
        img{
          width: 100%;
        }

      }
      .userName{
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        margin-top: 12px;
      }
      .contact_info{
        display: flex;
        justify-content: center;
        gap: 6px;
        flex-wrap: wrap;
      }
      .UsertotalcardWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 23px;
       
        .Usertotalcard{
          width: 170px;
          height: 170px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          .UsertotalcardTitle{
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            position: absolute;
            top: 10px;
            left  : 10px;
          }
        }
      }
    }
    .userTable{
      flex: 1;
      .counterType{
          border-bottom: 2px solid hsla(0, 0%, 0%, 0.05);
          padding: 10px 0;
          margin: 10px ;
          display: flex ;
          justify-content: flex-start;
          width: 100%;
          align-items: center;
          gap: 50px;
          .selectedItem{
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color:rgba(0, 172, 79, 1);
            position: relative;
            border-bottom: 2px solid rgba(0, 172, 79, 1) ;
            &::before{
              position: absolute;
              bottom: 0;
              width: 100%;
              height: 2px;
              background-color: rgba(0, 172, 79, 1);
              z-index: 10;
            }
          }
          
          .notselected{
             font-weight: 500;
             font-size: 14px;
             line-height: 16px;
             color:  rgba(90, 90, 90, 1);
          }
      }
    }
  }
}

.alllocationlist{
  .locationContent {
    display: flex;
    justify-content: space-between;
   
    .locationList {
        width: 400px;

        .locationListHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: rgba(181, 183, 192, 1);
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 21px;
        
            border-bottom: 2px solid #73737369;
            font-family: 'Poppins', sans-serif;
            padding: 10px;
        }
        .locationListItem {
          display: flex;
          justify-content: space-between;
          padding: 10px 0;
          border-bottom: 1px solid rgba(187, 187, 187, 0.22);
          .locationName {
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 17px;
            padding: 0 10px;
          }
        }
    }

    .locationGrapharea {
       width: 400px;
    }
}
}

.namecorcle{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  span{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;

  }
}
.popupTitle{
  font-size: 20px;
  font-weight: 600;
  color: #31B655;
  text-align: center;
  line-height: 2;
}
.addSubcategoryForm{
  width: 80%;
  margin: 0 auto;
  .inputFeildasf{
    width: 100%;
    text-align: start;
    margin-bottom: 20px;
    .label{
      justify-content: flex-start;
      margin: 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.5;
      color: #00000077;
    }
    .Imagelabel{
      width: 100%;
      height: 80px;
      border: 2px dashed rgba(114, 124, 164, 0.75);
      background-color: rgba(209, 212, 225, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      gap: 10px;
    }
  }
}
.Reviewpopupcontainer{
  background-color: hsla(0, 0%, 0%, 0.4);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  .reviewpopupcontent{
    width: 380px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    .reviewpopuptitle{
      color: #00AC4F;
      font-family: "Poppins", sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.22px;
      margin-bottom: 20px;
      clear: both;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
    }
    .reviewBox{
      border-radius: 16px;
      background: #FAFAFA;
      padding: 12px 25px;
      margin-bottom: 17px;
      .reviewTitle{
        color: #000;
        font-family: "Lato", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.403px;
      }
      .reviewnm{
        color: #000;
        font-family: "Lato", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.403px;
      }
      .reviewdescription{
        color: #000;
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
      }
      .reviewdate{
        color: #838383;
        font-family: "Lato", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.403px;
        text-align: right;
      }
    }
  }
}
.userDetails{
  .usersidebarprofile{
    display: flex;
    align-items: center;
    gap: 12px;
    .imagecircle{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
    .userdescription{
      flex: 1;
      h4{
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0.01em;
        text-align: left;
      }
      h5{
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.01em;
        text-align: left;        
      }
    }
  }
}
.addnewinputbox{
  border: 1px solid #d9d9d9;
  margin-bottom: 20px;
  border-radius: 4px;
  label{
    margin-left: 9px;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.200000003px;
    text-align: left;
    top: 10px;
    position: relative;
  }
}