.aboutusbanner{
    padding: 25px 10px;
}
.aboutusbanner .backbtn{
    cursor: pointer;
    color: black;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
}
.aboutusbanner .banner-from{
    background-color: #FAFAFA ;
    padding: 40px;
}
.form_title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
}
.feild_box{
    width: 500px;
    margin-bottom: 30px;
}
.custom_label{
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}
.bannerImagebox{
    border: 3px dashed #31B655;
    text-align: center;
}
.bannerddescription{
    min-height: 160px;
    width: 100%;
    resize: none;
}
@media screen and (max-width: 568px){
    .feild_box{
        width: 100%;
        margin-bottom: 30px;
    }
    .aboutusbanner .banner-from {
        background-color: #FAFAFA;
        padding: 25px;
    }
}